doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gridzilla
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/about.css')
    link(rel='shortcut icon', type='image/x-icon', href='img/logo.ico')
  body
    // ========header===========
    header.header
      .container
        .row
          .col-sm-6
            a(href='#')
              h1.logo Gridzilla
          .col-sm-6
            .input-group.pt-3
              input#example-search-input.form-control.border-right-0.border(type='search', value='search')
              span.input-group-append
                .input-group-text.bg-transparent
                  i.fa.fa-search
        nav.navbar.navbar-expand-lg
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.fa.fa-bars
          #navbarNavDropdown.navbar-collapse.collapse
            ul.navbar-nav
              li.nav-item
                strong
                  a.nav-link(href='index.html') HOME
              li.nav-item
                strong
                  a.active.nav-link(href='about.html') ABOUT
              li.nav-item
                strong
                  a.nav-link(href='blog.html') BLOG
              li.nav-item
                strong
                  a.nav-link(href='contact.html') CONTACT
    // ======end header==========
    // ===============container ===============
    section.container.news
      h2.text-center About Us. Our Mission. Shortcodes. Tons More!
      .row
        .col-lg-12.col-md-12
          .col-lg-12.col-md-12
            img.img-responsive.art-img(src='img/art.jpg', alt='post img')
          article.col-lg-12.col-md-12
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              | ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
              | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
              | Lorem Ipsum.
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              | ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
              | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
              | Lorem Ipsum.
            h2 It is so easy
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              | ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
              | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
              | Lorem Ipsum.
            h3 How to lose 20 pounds in 1 week!
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              | ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
              | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
              | Lorem Ipsum.
            h4 It is so easy
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              | ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
              | five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
              | Lorem Ipsum.
        .col-md-12.button_group
          button.btn.btn-primary(type='button') Button text
          button.btn.btn-secondary(type='button') Button text
          button.btn.btn-success(type='button') Button text
          button.btn.btn-danger(type='button') Button text
          button.btn.btn-warning(type='button') Button text
          button.btn.btn-info(type='button') Button text
          button.btn.btn-light(type='button') Button text
          button.btn.btn-dark(type='button') Button text
        .col-md-12
          .alert.alert-success(role='alert')
            strong Well done!
            |  You successfully read 
            a.alert-link(href='#') this important alert message
            | .
          .alert.alert-info(role='alert')
            strong Heads up!
            |  This 
            a.alert-link(href='#') alert needs your attention
            | , but it's not super important.
          .alert.alert-warning(role='alert')
            strong Warning!
            |  Better check yourself, you're 
            a.alert-link(href='#') not looking too good
            | .
          .alert.alert-danger(role='alert')
            strong Oh snap!
            a.alert-link(href='#') Change a few things up
            |  and try submitting again.
    // ==============container ======================
    footer
      .container
        .row
          .col-lg-6.col-md-12
            p
              i.fa.fa-twitter.btn.btn-info
              i.fa.fa-twitter.btn.btn-warning
              i.fa.fa-facebook.btn.btn-warning
              i.fa.fa-facebook.btn.btn-danger
          .col-lg-6.col-md-12
            p
              strong Best PSD Freebies  |  info@bestpsdfreebies.com
            p Copyright 2012 Gridzilla Theme  www.bestpsdfreebies.com
    script(src='js/jquery.js')
    script(src='js/wow.js')
    script(src='js/bootstrap.min.js')
    script(src='js/popper.min.js')
    script(src='js/custom.js')
    script.
      $(function(){
      new WOW().init();
      });
