footer {
	height: 90px;
	padding-top: 10px;
	border-top: 1px solid $gray_color;

	p {

		
    margin-top: 17px;
  
    line-height: 20px;
    text-align:left;
     
		@media (max-width: $lg){
		text-align: center;
		}
	}
}