.item {
	

h2{
		font-weight: bold;
		font-color:$main_color;
		text-align: center;
		padding: 60px;
		font-size: ($h2_size)+$px !important;


		@media (max-width: $sm){
			font-size: ($h2_size/2)+$px !important;

		}

		@media (min-width: $md){
			font-size: ($h2_size/1.5)+$px !important;
		}


		@media (min-width: $lg){
			font-size: ($h2_size/1.2)+$px !important;

		}

}


		.item_img {
			margin-bottom: 20px;
			width: 100%;
			
		}

		.red_text{
			color:$hover_color;
		}

		p{
			padding: 10px;
		}
}